{% extends 'base.html' %}


{% block title %}Crear zonas{% endblock title %}
     <div class="button-container">

{% block content %}
    
    <div style="text-align: center;">
        <h1>Crear Zona</h1>
    </div>
    <form method="post" style="background-color: #f2f2f2; width: 500px; border: 1px solid; margin-left: 10px; margin-bottom: 10px;">
        {% csrf_token %}
        <div style="margin: 10px;">
            {{ form.as_p }}
        </div>
        <button type="submit" style="border: 1px solid; margin-left: 10px; margin-bottom: 10px;">Guardar</button>
    </form>
{% endblock %}