{% extends 'base.html' %}

{% block title %}Editar usuario seleccionado{% endblock title %}
     <div class="button-container">

{% block content %}
    <div style="text-align: center;">    
        <h1>Editar Usuario</h1>
    </div>
    <form method="post" style="background-color: lightyellow; width: 500px; border: 1px solid black; margin: 0 auto; margin-bottom: 10px;">
        {% csrf_token %}
        <div style="padding: 10px;">
            {{ form.as_p }}
        </div>
        <div style="text-align: right; padding: 10px;">
            <div class="button-container" style="text-align: center; margin-top: 10px; display: flex; justify-content: center; align-items: center; height: 10vh;">
                <div style="margin: 10px;">
                        <a href="{% url 'inicio' %}" class="button" style="background-color: grey ; color: black; border-radius: 5px; padding: 10px 20px; border: 1px solid black;">volver</a>
                </div>
            <div style="margin: 10px;">
                <a type="submit" style="background-color: grey ; color: black; border-radius: 5px; padding: 10px 20px; border: 1px solid black;">Guardar</a>
            </div>
        </div>
    </form>
    <div class="button-container" style="text-align: center; margin-top: 10px; display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin: 10px;">
                <a href="{% url 'eliminar_usuario' %}" class="button" style="background-color: lightcoral; color: black; border-radius: 5px; padding: 10px 20px; border: 1px solid black;">Listar usuario a eliminar</a>
        </div>
    </div>  
{% endblock %}