{% extends 'base.html' %}


{% block title %} listar usuarios {% endblock title %}
     <div class="button-container">

 {% block content %}
    <div class="text-center">
        <h1>Lista de usuarios</h1>
    </div>
    <ul class="list-group">
        {% for usuario in usuarios %}
        <li class="list-group-item" style="background-color: lightblue; color: white; margin: 5px 50px 10px;">{{ usuario.numero_casco }}: {{ usuario.nombre }} {{ usuario.apellido }}</li>
        {% endfor %}
    </ul>
{% endblock %}