{% extends 'base.html' %}


{% block title %} Panel de creación {% endblock title %}
     <div class="button-container">
        
{% block content %}
        <div class="button-container" style="text-align: center; margin-top: 10px; display: flex; justify-content: center; align-items: center; height: 10vh;">
                <div style="margin: 10px;">
                        <a href="{% url 'crear_zona' %}" class="button" style="background-color: lightblue; color: white; border-radius: 5px; padding: 10px 20px; border: 1px solid black;">Crear zona</a>
                </div>
                <div style="margin: 10px;">
                <a href="{% url 'crear_parque' %}" class="button" style="background-color: lightblue; color: white; border-radius: 5px; padding: 10px 20px; border: 1px solid black;">Crear parque</a>
                </div>
                <div style="margin: 10px;">
                <a href="{% url 'crear_brigada' %}" class="button" style="background-color: lightblue; color: white; border-radius: 5px; padding: 10px 20px; border: 1px solid black;">Crear brigada</a>
                </div>
                <div style="margin: 10px;">
                <a href="{% url 'crear_usuario' %}" class="button" style="background-color: lightblue; color: white; border-radius: 5px; padding: 10px 20px; border: 1px solid black;">Crear usuarios</a>
                </div>

{% endblock content %}